<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    c
</head>
<body>
        {% comment %} {% block content %}
    <h1>Все книги</h1>

    {% if books_all %}
    <ul>
        {% for book in books_all %}
        <li>
            <strong>{{ book.title }}</strong> Автор:{{ book.author }} Жанр:{{ book.genre }}
      </li>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>В библиотеке нет книг!</p>
    {% endif %}

    <p>Вы посетили страницу "Книги" {{ num_visits_book }}{% if num_visits_book == 1 %} раз{% else %} раз{% endif %}</p>
    {% endblock %} {% endcomment %}
</body>
</html>